body {
    margin: 0;
    height: 100%;
    background: linear-gradient(90deg, #FFC0CB 50%, #ffc75f 50%);
}

.background {
    display: flex;
}
  
.column {
    text-align: center;
}

#welcomeText{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.swapButton{
    margin-left: auto;
    margin-right: auto;
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.dropDownList{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 100px;
    height: 70px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #E5E5E5; /* Fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: 0px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 1.3em;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#amount, #result{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: 0px;
    font-size: x-large;
    padding: 10px;
    background: none;
    border-bottom: 1px solid;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flip {
    transform: rotate(180deg);
}  

@media only screen and (max-width: 1024px) {
    body {
        background: ghostwhite;
    }

    .grid {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content:space-evenly;
    }

    .column{
        justify-content: space-around;
    }

    #welcomeText{
        margin-bottom: 50px;
    }

    .swapButton{
        margin-top: 10px;
        margin-bottom: 10px;
        transform: rotate(90deg);
    }

    .columnFirst{
        display: flex;
        flex-direction: column-reverse;
    }

    .dropDownList{
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .flip {
        transform: rotate(270deg);
    }  
}
